* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  /* overflow: hidden; */
}

.main {
  display: block;
  background-color: rgb(255, 253, 245);
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0px;
  left: auto;
  right: 0px;
  /* align-items: center; */
}

#nav {
  margin-left: 4%;
}

.nav {
  background-color: transparent !important;
  color: #585757 !important;
  font-family: Graphik !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

header a {
  text-decoration: none;
}

.ingressive {
  display: flex;
}

.split {
  display: flex;
}

#star {
  /* width: 65%; */
}

.partition {
  display: flex;
}

.noclick {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  width: calc(100% + 24px);
  /* margin-left: -24px; */
}

.line {
  margin: 80px 5% 40px;
}

.root9 {
  max-width: 1440px !important;
  width: 90% !important;
  padding-top: 49px !important;

  margin: auto !important;
  margin-top: 70px !important;
}
@media screen and (max-width: 1200px) {
  .root9 {
    max-width: 1440px !important;
    width: 90% !important;
    padding-top: 30px !important;
  }
}

.circle1 {
  display: flex !important;
  margin-bottom: 27px;
  width: 10% !important;
}

.round {
  position: absolute;
  width: 12% !important;
  left: 15% !important;
  margin-top: 65px !important;
}
@media screen and (max-width: 2600px) {
  .round {
    position: absolute;
    width: 10% !important;
    left: 24% !important;
    margin-top: 65px !important;
  }
}
@media screen and (max-width: 2000px) {
  .round {
    position: absolute;
    width: 10% !important;
    left: 14% !important;
    margin-top: 65px !important;
  }
}
@media screen and (max-width: 1440px) {
  .round {
    position: absolute;
    width: 12% !important;
    left: 15% !important;
    margin-top: 65px !important;
  }
}
@media screen and (max-width: 600px) {
  .round {
    position: absolute;
    width: 19% !important;
    left: 15% !important;
    margin-top: 28px !important;
  }
}
